<script>
  var reference_buyers = <%= raw @reference_buyers.to_json %>;
  var result = <%= raw @result.to_json %>;
  var fixed_buyer_attrs = <%= raw APP_CONFIG['buyer_fixed_attrs'].to_json %>;
  var buyer_attrs = <%= raw APP_CONFIG['buyer_attrs'].select { |k, v| @buyer_attrs.include?(k) }.to_json %>;
</script>

<%= render "flow" %>
<h1>行业: <%= @industry.name %></h1>
<h2>参考的卖家</h2>
<div id="reference-buyer-grid">
  <table id="reference-buyer-grid-table"></table>
  <div class="pager"></div>
</div>

<h2>相似的企业</h2>
<p>请在这里选择一个感兴趣的卖家</p>
<div id="similar-buyer-grid">
  <table id="similar-buyer-grid-table"></table>
  <div class="pager"></div>
</div>

<button id="get_similar_target" class="btn btn-primary" url="<%= total_get_similar_targets_url %>">选择</button>
