<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th></th>
    <% APP_CONFIG['buyer_fixed_attrs'].each do |col, name| %>
    <th><%= name %></th>
    <% end %>
    <% @attrs.each do |col| %>
    <th><%= APP_CONFIG['buyer'][col] %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% buyers.each do |buyer| %>
    <% if buyer.deals.size > 0 %>
      <tr class='info'>
    <% else %>
      <tr>
    <% end %>
        <td>
          <label>
            <% if can_check %>
            <%= check_box_tag "buyer_ids[]", buyer.id %>
            <% end %>
          </label>
        </td>
        <td><%= buyer.code %></td>
        <td><%= buyer.name %></td>
        <td><%= buyer.owner %></td>

        <% @attrs.each do |column| %>
        <td><%= buyer.send(column.to_sym) %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>
