<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th></th>
    <% APP_CONFIG['buyer'].each do |col, name| %>
    <th><%= name %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% buyers.each do |buyer| %>
    <% if buyer.deals.size > 0 %>
      <tr class='info'>
    <% else %>
      <tr>
    <% end %>
        <td>
          <label>
            <%= check_box_tag "buyer_ids[]", buyer.id %>
          </label>
        </td>
        <td><%= buyer.code %></td>
        <td><%= buyer.name %></td>
        <td><%= buyer.owner %></td>
        <td><%= buyer.industry.name %></td>
        <td><%= buyer.market_value %></td>
        <td><%= buyer.t_minus_1_market_value %></td>
        <td><%= buyer.t_minus_2_market_value %></td>
        <td><%= buyer.net_profit %></td>
        <td><%= buyer.t_minus_1_net_profit %></td>
        <td><%= buyer.t_minus_2_net_profit %></td>
        <td><%= buyer.operating_income %></td>
        <td><%= buyer.t_minus_1_operating_income %></td>
        <td><%= buyer.t_minus_2_operating_income %></td>
      </tr>
  <% end %>
  </tbody>
</table>
