<h1>行业: 食品制造业</h1>
<%= form_tag mockup_target_path, method: :get, role: 'form' do %>
<div class="target-table-container">
  <table class="table table-striped table-bordered target-table">
    <thead>
    <tr>
      <th></th>
      <th colspan="8">交易信息</th>
      <th colspan="14">置入资产财务数据</th>
      <th colspan="8">评估</th>
    </tr>
    <tr>
      <th></th>

      <th class='name'>并购机构</th>
      <th class='name'>置入资产</th>
      <th class='date'>草案公告日</th>
      <th class='name'>独立财务顾问</th>
      <th class='name'>支付方式</th>
      <th>配套融资</th>
      <th>配套融资对象</th>
      <th>配套融资用途</th>

      <th>净资产</th>
      <th>债务</th>
      <th>当前总资产</th>
      <th>t - 1 总资产</th>
      <th>t - 2 总资产</th>
      <th>t - 1 净资产</th>
      <th>t - 2 净资产</th>
      <th>t - 1 营业收入</th>
      <th>t - 2 营业收入</th>
      <th>t - 1 净利润</th>
      <th>当年净利润</th>
      <th>承诺 t + 1 净利润</th>
      <th>承诺 t + 2 净利润</th>
      <th>承诺 t + 3 净利润</th>

      <th>估值</th>
      <th class='name'>评估方法</th>
      <th class='date'>评估时间</th>
      <th>交易价格</th>
      <th>交易市净率</th>
      <th>静态市盈率</th>
      <th>交易市盈率</th>
      <th>按照承诺的三年利润平均折算市盈率</th>
    </tr>
    </thead>
    <tbody>
    <% @deals.each do |deal| %>
    <tr>
      <td>
        <label>
          <%= check_box_tag "target_ids[]", deal.target_id %>
        </label>
      </td>
      <td><%= deal.buyer.name %></td>
      <td><%= deal.target.name %></td>
      <td><%= deal.draft_announce_date %></td>
      <td><%= deal.consultant %></td>
      <td><%= deal.pay_method %></td>
      <td><%= number_with_precision deal.financing %></td>
      <td><%= deal.finacing_target %></td>
      <td><%= deal.finacing_use %></td>

      <td><%= number_with_delimiter deal.net_assets %></td>
      <td><%= number_with_delimiter deal.liabilities %></td>
      <td><%= number_with_delimiter deal.total_assets %></td>
      <td><%= number_with_delimiter deal.t_minus_1_total_assets %></td>
      <td><%= number_with_delimiter deal.t_minus_2_total_assets %></td>
      <td><%= number_with_delimiter deal.t_minus_1_net_assets %></td>
      <td><%= number_with_delimiter deal.t_minus_2_net_assets %></td>
      <td><%= number_with_delimiter deal.t_minus_1_operating_income %></td>
      <td><%= number_with_delimiter deal.t_minus_2_operating_income %></td>
      <td><%= number_with_delimiter deal.t_minus_1_net_profit %></td>
      <td><%= number_with_delimiter deal.net_profit %></td>
      <td><%= number_with_delimiter deal.t_plus_1_net_profit %></td>
      <td><%= number_with_delimiter deal.t_plus_2_net_profit %></td>
      <td><%= number_with_delimiter deal.t_plus_3_net_profit %></td>

      <td><%= number_with_delimiter deal.valuation %></td>
      <td><%= deal.valuation_method %></td>
      <td><%= deal.valuation_date %></td>
      <td><%= number_with_delimiter deal.transaction_price %></td>
      <td><%= deal.trading_book_value %></td>
      <td><%= deal.static_earnings %></td>
      <td><%= deal.trading_earnings %></td>
      <td><%= deal.three_year_avg_earnings %></td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>
<%= submit_tag("获取置入资产", class: "btn btn-primary") %>
<% end %>
