<h1>行业: 食品制造业</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th></th>
    <th>代码</th>
    <th>名称</th>
    <th>控股人</th>
    <th>行业</th>
  </tr>
  </thead>
  <tbody>
  <% @buyers.each do |buyer| %>
      <tr>
        <td>
          <label>
            <input type="checkbox" id="blankCheckbox" value="option1">
          </label>
        </td>
        <td><%= buyer.code %></td>
        <td><%= buyer.name %></td>
        <td><%= buyer.owner %></td>
        <td><%= buyer.industry.name %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= submit_tag("获取置入资产", class: "btn btn-primary") %>
