<script>
var buyers = <%= raw @buyers.to_json %>;
var fixed_attrs = <%= raw APP_CONFIG['buyer_fixed_attrs'].to_json %>;
var attrs = <%= raw APP_CONFIG['buyer_attrs'].select {|k, v| @attrs.include?(k) }.to_json %>;
</script>

<h1>行业: <%= @industry.name %></h1>
<div class="filter row">
</div>
<table id='jq-grid'></table>
<div id="pager"></div>

<% content_for :js do %>
<%= javascript_include_tag 'create_filter' %>
<% end %>
