<%= form_tag mockup_buyer_path, method: :get, role: 'form' do %>
  <% APP_CONFIG['buyer_attrs'].each do |col, name| %>
  <div class="checkbox">
    <label>
      <input type="checkbox" name="selected_attrs[]" value="<%= col %>">
      <%= name %>
    </label>
  </div>
  <% end %>
  <%= hidden_field_tag 'industry_id', @industry_id %>
  <%= submit_tag("筛选", class: "btn btn-primary") %>
<% end %>
